.background{
  background-color: white;
  background-position: center;
  position: absolute;
  top:0;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}
body{
  overflow-x: hidden;
}

.main{
  font-family: 'Karla', sans-serif;
  color: white;
  min-height:100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home{
  background-color: #2a2a2a;
  animation: bg-fade 12s infinite;
  max-width: 100vw;
}
.projects{
  background-color: #2A2A2A;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  color: white;
  min-width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.typewriter {
  font-size: 4em;
  font-weight: 600;
  font-family: 'Karla', sans-serif;
}

.enter{
  font-family: 'Karla', sans-serif;
  width: auto;
  margin: 0.25em;
  color: white;
  font-size: 2em;
}

.enter:hover {
  cursor: pointer;
  font-weight: 600;
}


.rowflex {
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: text-in 1s;
  background: white;
  color: black;
  font-weight: 600
}


.ls{
  display: flex;
  align-items: center;
  list-style-type: none;
  animation: hide-text 1.3s;
  margin: 0 1vw;
  padding: 0;
  cursor: pointer;
  font-family: 'Montserrat', serif;
}
.ls:hover{
  color: #0077B5;
  font-weight: 600;
  cursor: pointer;
}


.header{ 
  width: 100vw;
  height: 5vh;
  padding: 1vh 0;
  position: sticky;
  top:0;
  left:0;
  background-color: #ffffff;
  color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  animation: header-in 1s;
  z-index: 1;
  opacity: 1;
  font-weight: 600;
  font-size: 1em;
}

.align-right{
  justify-self: flex-end;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  padding-right: 1vw;
}
.align-left{
  display: flex; 
  flex-direction: row;
  align-items: center;
  padding-left: 1vw;
}

.header-div{
  margin: 0 1.4vw;
}

.header-title{
  margin: 0 1.4vw;
  font-size: 1.5em;
  font-family: 'Karla', serif;
}

.header-div:hover{
  color: #0077B5;
   font-weight: 600;
  cursor: pointer;
}

#selected-header{
  color: #0077B5;
  font-weight: 600;
}

.hide {
  display: none;
}

.indproj{
  color: white;
  padding: 3vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}
.indproj-image{
  width: 40vw;
  height: 40vh;
}
.indproj-desc{
  max-width: 30vw;
  text-align: left;
  color: white;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.indproj-title{
  text-align: left;
  color: white;
  padding: 0 0 0 0;
  margin: 1vh 0;
}
.indproj-text{
  margin-top: 2vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.indproj-tags{
  align-self: left;
  padding: 1vh 1vw;
  color:black;
  background: white;
  font-family: 'Montserrat', sans-serif;
  max-width: 30vw;
}

.project-scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  padding: 0 0 3vh 0;
}

.project-text{
  font-size: 2em;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}

.pagetitle{
  z-index: 1;
  padding: 0 0;
  margin: 0;
  position: sticky;
  top: 8vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.nomargin{
  margin: 0;
  margin-bottom: 4vh;
  font-family: 'Montserrat', sans-serif;
}

.animateicon{
  animation: icon 6s infinite
}

.linkedin:hover{
  color: #0077B5;
}
.scroll-icon{
 color: #0077B5;

}
.scroll-icon:hover{
  color: white;
}
a{
text-decoration: none;
color: inherit;
}

/* customise scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0;
  position: absolute;
}

/* animations */
@keyframes icon {
  from{color: white}
  25%{color: #0077B5}
  50%{color: white}
  75%{color: #0077B5}
  to{color: white}
}
@keyframes bg-fade {
  from{background: #2A2A2A}
  25%{background: #002e47}
  50%{background: #2A2A2A}
  75%{background: #002e47}
  to{background: #2A2A2A}
}

@keyframes header-in {
  from { opacity: 1; width: 0vw;}
  to { opacity: 1;}
}
@keyframes text-in {
  from { opacity: 0; width: 0vw;}
  50% { opacity: 1; width: 0vw}
  to { opacity: 1;}
}
@keyframes hide-text {
  from { opacity:0; }
  80% { opacity: 0; }
  to { opacity: 1; }
}
