.background{
  background-color: white;
  background-position: center;
  top:0;
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
}

@media only screen and (max-width: 600px) {
  .background {
      background-position: center;
      background-position-y: bottom;
  }
}


.focusbox{
position: absolute;
height: 40vh;
width: 37vw;
margin: 15vh 31vw;
background-color: white;
animation: blocks 0.5s;
color: #2A2A2A;
text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid red;

}

.main{
  font-family: 'Karla', sans-serif;
   color: white;
  height:100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home{
  background-color: #2a2a2a;
}
.projects{
  background-color: #2A2A2A;
}

.typewriter {
  font-size: 4em;
  font-weight: 600;
  font-family: 'Karla', sans-serif;
}

.enter{
  font-family: 'Karla', sans-serif;
  width: auto;
  margin: 0.25em;
  color: white;
  font-size: 2em;
}

.enter:hover {
  cursor: pointer;
  font-weight: 600;
}


.rowflex {
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: text-in 1s;
  background: white;
  color: black;
  font-weight: 600
}

.item{
  margin: 0 1vw;
  cursor: pointer;
  animation: hide-text 1.3s;
}
.item:hover{
  border-bottom: 0.1em solid black;
  font-weight: 600;
  cursor: pointer;
}

.header{
  width: 100vw;
  height: 5vh;
  padding: 1vh 0;
  position: absolute;
  top:0;
  left:0;
  background-color: #ffffff;
  color: black;
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  animation: header-in 1s;
  z-index: 1;
  opacity: 1;
  font-weight: 600;
  font-size: 1em;
}

.header-div{
  margin: 0 1.4vw;
}

.header-title{
  margin: 0 1.4vw;
  font-size: 1.5em;
}

.header-div:hover{
  border-bottom: 0.1em solid black;
  font-weight: 600;
  cursor: pointer;
}

#selected-header{
  border-bottom: 0.1em solid black;
  font-weight: 600;
}

.indproj{
  color: white;
  padding: 3vh 2vw;
  width: 30vw;
  height: 55vh;
  margin: 0 5vw;
}
.indproj-image{
  width: 30vw;
  border: 5px solid black;
}
.indproj-desc{
  text-align: left;
  color: white;
  margin: 0;
  padding: 0;
}
.indproj-title{
  text-align: left;
  border-left: 0.5vw solid white;
  color: white;
  padding: 0 0 0 1vw;
  margin: 1vh 0;
}
.indproj-text{
  margin-top: 2vh;
}
.indproj-tags{
  padding: 1vh 1vw;
  color:black;
  background: white;
}

.project-scroll{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70vh;
  overflow-x: scroll;
  padding: 0 0 3vh 0;
}
.project-text{
  padding-top: 10vh;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00d800; 
}

/* animations */


@keyframes header-in {
  from { opacity: 1; width: 0vw;}
  to { opacity: 1; }
}
@keyframes text-in {
  from { opacity: 0; width: 0vw;}
  50% { opacity: 1; width: 0vw}
  to { opacity: 1;}
}
@keyframes hide-text {
  from { opacity:0; }
  80% { opacity: 0; }
  to { opacity: 1; }
}
