.center-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Play', sans-serif;
  }
  
  .calculator-grid {
    display: grid;
    grid-template-rows: 90px 75px 75px 75px 75px;
    grid-template-columns: 60px 60px 60px 45px 45px;
    align-items: center;
    text-align: center;
  }
  
  #display {
    font-size: 3vw;
    z-index: 1;
    grid-column: 1 / 6;
    background: black;
    color: white;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3vw;
  }
  
  #clear {
    z-index: 2;
    grid-row: 2;
    grid-column: 4 / 5;
  }
  
  #equals {
    grid-row: 2;
    grid-column: 5 / 6;
  }
  
  #add {
    grid-row: 3;
    grid-column: 4 / 5;
  }
  #subtract {
    grid-row: 4;
    grid-column: 5 / 6;
  }
  #add {
    grid-row: 4;
    grid-column: 4 / 5;
  }
  #divide {
    grid-row: 3;
    grid-column: 4 / 5;
  }
  #multiply {
    grid-row: 3;
    grid-column: 5 / 6;
  }
  
  .cursor {
    cursor: pointer;
    background: #929392;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
  }
  
  .cursor:hover {
    color: black;
    background: #c4c4c4
  }
  
  #filler{
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    background: #515151;
    height: 100%;
    color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #decimal {
    grid-row: 5 / 6;
    grid-column: 5 / 6;
  }